[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = [
  'npx prisma generate',
  'rm -rf .next || true',
  'npm run build'
]

[start]
cmd = 'npm run start'

